Jinja2
slack-sdk
boto
premailer
jsonschema[format]
schematics==2.1.0
python-slugify
scrapy
pytest
pytest-cov
tox
sentry-sdk
black
pytest-mock
scrapinghub
scrapinghub-entrypoint-scrapy
itemadapter
pre-commit
