{% macro render_title_section() -%}
    <div class="report-title">
        {{ caller() }}
    </div>
{%- endmacro %}

{% macro render_section(top_separator=False, bottom_separator=False) -%}
    {% if top_separator %}
        <hr>
    {% endif %}
    <div class="report-section">
        {{ caller() }}
    </div>
    {% if bottom_separator %}
        <hr>
    {% endif %}
{%- endmacro %}
