{% macro render_result(result) -%}
    •  _{{ result.monitor.name }}_\n
{%- endmacro %}

{% macro render_results(color, results) %}
        {
            "text": "{% for result in results %}{{ render_result(result) }}{% endfor %}",
            "color": "{{ color }}",
            "mrkdwn_in": ["text", "pretext"]
        }
{% endmacro %}

{% macro render_passed() %}
    {{ render_results('good', result.monitors_passed_results) }}
{% endmacro %}

{% macro render_failed() %}
    {{ render_results('danger', result.monitors_failed_results) }}
{% endmacro %}

[
    {% if include_ok_attachments and monitors_passed %}
        {{ render_passed() }},
    {% endif %}
    {% if include_error_attachments and monitors_failed %}
        {{ render_failed() }},
    {% endif %}
]




